<div class="container-fluid container-style">
  <div class="row pb-3">
    <div class="row g-0 bg-dark mb-3 px-3" style="height: 50px;">
      <div class="col-4 my-auto">
      </div>
      <div class="col-4 my-auto">
        <div class="text-center text-white">
          <% case controller.action_name %>
          <% when 'index' %>
           Blogs
          <% when 'mine' %>
           My Blog
          <% end %>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <% if @blogs.present? %>
      <%= render partial:'blog', collection: @blogs%>
    <% else %>
      <%= render partial: 'shared/none_data', locals: {data: 'ブログ', url: new_blog_path} %>
    <% end %>
  </div>
</div>