<div class="container-fluid container-style">
  <div class="row border border-top-0 pb-3">
    <div class="row g-0 bg-dark mb-3" style="height: 50px;">
      <div class="my-auto text-center text-white">
        My Blogs
      </div>
    </div>
    <% if @blogs.present? %>
       <%= render partial:'blog', collection: @blogs%>
    <% else %>
      <div class="row p-2">
        <h3 class="text-center">ブログがありません</h3>
        <div class="p-2">
          <p class="text-center">新規ブログ作成はこちらのボタンから</p>
          <div class="text-center">
            <%= link_to 'ブログ作成', new_blog_path, class:"btn btn-outline-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>