<div class="mb-3 ">
  <%= form_with model: @tweet_form, url: url, method: method, local: true do |f| %>
    <div class = "mb-3 col-6 mx-auto">
      <%= f.text_area :content, class: "form-control ", maxlength: "150", rows: "5", autofocus: true %>
    </div>
    <div class = "mb-3 col-6 mx-auto">
      <%= f.text_field :t_tag_name, class: "form-control ",placeholder: 'タグ',maxlength: "40", autocomplete: "t_tag_name" %>
      <div id="search-result" class="mt-1"></div>
    </div>
    <div class = "col-6 mx-auto">
      <%= f.submit "投稿", class:"w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
const  tTagNameInput = document.querySelector("#tweet_form_t_tag_name");
  if (tTagNameInput){
    const inputElement = document.getElementById("tweet_form_t_tag_name");
    inputElement.addEventListener("input", () => {
      const keyword = document.getElementById("tweet_form_t_tag_name").value;
      const XHR = new XMLHttpRequest();
      XHR.open("GET", `/tweets/search/?keyword=${keyword}`, true);
      XHR.responseType = "json";
      XHR.send();
      XHR.onload = () => {
        const searchResult = document.getElementById("search-result");
        searchResult.innerHTML = "";
        if (XHR.response) {
          const tTagName = XHR.response.keyword;
          tTagName.forEach((tag) => {
            const childElement = document.createElement("button");
            childElement.setAttribute("type", "button");
            childElement.setAttribute("class", "child list-group-item list-group-item-action");
            childElement.setAttribute("id", tag.id);
            childElement.innerHTML = tag.t_tag_name;
            searchResult.appendChild(childElement);
            const clickElement = document.getElementById(tag.id);
            clickElement.addEventListener("click", () => {
              document.getElementById("tweet_form_t_tag_name").value = clickElement.textContent;
              clickElement.remove();
            });
          });
        };
      };
    });
  };
});
</script>