<div class = "top-page ">
  <% @tweets.each do |tweet| %>
    <div class = "tweet">
      <div class = "tweet-top">
        <div class = "user-image">
          <%= link_to image_tag("bookdisc-icon-image.png", class:"user-icon"), "#" %>
        </div>
        <div class = "user-name">
          <%= link_to tweet.user.nickname, "#", class: "user-nickname" %>
        </div>
        <div class = "tweet-date">
          <%= tweet.updated_at%>
        </div>
      </div>
      <div class = "tweet-bottom">
        <%= link_to tweet.content, "#", class: "tweet-content" %>
      </div>
    </div>
  <% end %>
</div>