<div class="container mt-auto d-flex flex-column">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav pt-2 bg-primary text-white">
        <p class="text-center">ツイート一覧</p>
      </div>
      <% @tweets.each do |tweet| %>
        <%= render partial:'tweet_view', locals: {tweet: tweet} %>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>