<div class="container container-style">
  <div class="row pb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav py-1 bg-primary">
        <div class="d-flex align-items-center justify-content-center text-white">マイツイート一覧</div>
      </div>
      <% if @tweets.present? %>
        <% @tweets.each do |tweet| %>
          <%= render partial:'tweet_view', locals: {tweet: tweet} %>
        <% end %>
      <% else %>
        <div class="row border p-2">
          <h3>ツイートがありません</h3>
          <div class="p-2">
            <p class="text-center">新規ツイート作成はこちらのボタンから</p>
            <div class="text-center">
              <%= link_to 'ツイート作成', new_tweet_path, class:"btn btn-outline-primary"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>