<div class="container container-style">
  <div class="row mb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav py-1 bg-primary text-white">
        <div class="d-flex align-items-center">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="text-center">ツイート詳細</div>
          </div>
          <div class="col-4">
            <% if user_signed_in? && current_user == @tweet.user %>
              <div class="text-end">
                <%= link_to '編集', edit_tweet_path(@tweet.id), class:"btn btn-outline-light" %>
                <%= link_to '削除', tweet_path(@tweet.id), method: :delete , class:"btn btn-outline-light" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial:'tweet_view', locals: {tweet: @tweet} %>
      <%= render partial:'shared/comment', locals: {comments: @t_comments} %>
    </div>
    <div class="col-2"></div>
  </div>
</div>