<a href="/users/<%=uri%>/relationships" class="link-secondary text-decoration-none"><b>フォロー</b>  <%= follow_count %>人</a>
<a href="/users/<%=uri%>/relationships/list" class="link-secondary text-decoration-none"><b>フォロワー</b>  <%= follower_count %>人</a>