<div class="row border p-2">
  <h4 class="text-center"><%= data %>がありません</h4>
  <div class="p-2">
    <p class="text-center">新規<%= data %>作成はこちらのボタンから</p>
    <div class="text-center">
      <%= link_to "#{data}作成", url, class:"btn btn-outline-primary"%>
    </div>
  </div>
</div>