<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8 border">
      <h3>ルームが存在しません</h3>
      <p>新規ルーム作成はこちら</p>
      <%= link_to 'ルーム作成', new_room_path, class:"btn btn-outline-primary"%>
    </div>
  </div>
</div>
