/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}

.like-icon {
  font-size: 25px;
  color: rgba(255, 0, 157, 0.89);
}

#search-result{
  width: 40%;
  max-height: 200px;
  overflow: scroll;
}

.child{
  background-color: #F4F4F4;
  padding: 5px;
  font-size: 15px;
}

.user-icon{
  width: 80px; 
  height: 80px;
  object-fit: contain;
  border: 1px solid lightgray;
}

.bg-bookdisc{
  background-color: navy;
}

.sticky-nav{
  position: sticky;
  top: 55px;
  height: 50px;
}

.container-style{
  height: 90vh;
}

.new-line{
  white-space: pre-wrap; 
  word-wrap: break-word;
}

.max-4-line{
  /** 4行以上で省略 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
  /** webkit以外のフォールバック */
  line-height: 24px;
  max-height: calc(24px*4);
}

input[type="text"]:focus,
input[type="file"]:focus,
button[type="button"]:focus,
textarea.form-control:focus{
  box-shadow: none;
  outline: none;
}

.preview-blog-image{
  max-height: 100%;
  max-width: 100%;
}

.tweet-image-size{
  max-height: 15vw;
  max-width: 100%;
}

.message-area{
  position: sticky;
  top: 105px;
  height: 75vh;
  overflow: scroll;
  background-color: #e2f2ff;
}

.message-field{
  position: sticky;
  background-color: #e2f2ff;
}